.all {
  background-color: #f2f2f2;
  padding: 3rem;
  margin: 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #ccc;
  display: row;
  flex-direction: row;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.downloadbox {
  background-color: #b5b5b5;
  border-radius: 1rem;

  box-shadow: 0 0 1rem #ccc;
  width: 15rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.end {
  display: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #f6f6f6;
  box-shadow: 0 0 1rem #ccc;
  width: 50%;
  margin: auto;
  padding: 0.5rem;
}
.contact {
  text-decoration: none;
}

.instaimg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
